{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true,
    "node": true,
  },
  "plugins": ["react", "react-native"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    // overrides
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 0,
    "react-native/no-color-literals": 0,
    "no-undef": 2,
    "no-unused-vars": ["error", {"args": "none"}],
    "quotes": "off",
    "react/jsx-sort-props": ["error", {
      "shorthandLast": true,
      "callbacksLast": true,
      "reservedFirst": true, 
    }],
    "sort-vars": ["error", { "ignoreCase": true }],
  },
}
